@model Leave

<form asp-action="EditStatus" method="post">
    <input type="hidden" asp-for="LeaveId"/>
    <div class="form-group">
        <label asp-for="Status">Status</label>
        <select asp-for="Status" class="form-control">
            <option value="0">Waiting</option>
            <option value="1">Godkänd</option>
            <option value="2">Avslag</option>
        </select>
    </div>
    <button type="submit" class="btn btn-success">Uppdatera status</button>
</form>